
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">

        
        <input type="text" [(ngModel)]="userInputs" class="form-control"  [placeholder]="UserName">
        <button (click)="insertUserAction()" class="btn btn-success mt-2">Insert</button>

      </div>
      

    <table class="table table-ligth mt-3">
      <thead class="thead-ligth">
        <tr>
          <th>N°</th>
          <th>Names</th>
          <th>Delete</th>

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let names of arrNames; index as userno">
          <td>
            {{ userno + 1 }}
          </td>
          <td>
            {{ names }}
          </td>
          <td>
            <button (click)="removeName(names)"class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

