




  <div align = "center" class="container mt-5 center">
    
      <div class="col-md-8">
        <div class="card">
            <div align = "center" class="lineInput">
              <label> Name</label>
              <input type="text" [(ngModel)]="nameInput" class="form-control"  [placeholder]="UserName">
            </div>
        </div>  
          <div align = "center"  class="lineInput">
            <label> Age</label>
            <input type="text" [(ngModel)]="ageInput" class="form-control"  [placeholder]= 0>
          </div>

          <button (click)="insertUserAction()" class="btn btn-success mt-2">Insert</button>
       
    </div>
      

    <table border = 1 align="center" class="table table-ligth mt-3">
      <thead class="thead-ligth">
        <tr>
          <th>N°</th>
          <th>Name</th>
          <th>Age</th>
          <th>Delete</th>


        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let info of person index as userno">
          <td>
            {{ userno + 1 }}
          </td>
          <td>
            {{ info.name }}
          </td>
          <td>
            {{ info.age }}
          </td>
          <td>
            <button (click)="removeName(info.name)"class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>


